.listItems {
  padding-top: 1.5rem;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.listItemsMenu {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}